PORT=5001
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/dbname?retryWrites=true&w=majority
SCHEDULER_SECRET_KEY=your_scheduler_secret_key
SCHEDULER_CRON_INTERVAL=*/5 * * * *
NODE_ENV=development
ORDER_PLACED_TIMEOUT_MS=600000
ORDER_PROCESSING_TIMEOUT_MS=1200000
